{% extends 'enquiry/base.html' %}
{% block content %}
<div class="row">
    <form action="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <button class="primary" type="submit">Submit</button>
      </form>

</div>
{% endblock %}